/* You can add global styles to this file, and also import other style files */

/* Global Roboto Font Family */
body,
html,
* {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

button,
input,
textarea,
select {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

a {
  font-family: 'Roboto', sans-serif;
}
